@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

.backgroundLoginResetPassword
{
    background-color: #343541;
    min-height: 85vh;
}

.backgroundFormResetPassword
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: black !important;
    background-color: white !important;
}

.submitBtnResetPassword
{
    background-color: darkcyan !important;
    color: white !important;
    border-color: darkcyan !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

.submitBtnResetPassword:hover
{
    background-color: rgb(8, 88, 88) !important;
    border-color: rgb(8, 88, 88) !important;
}

.submitBtnResetPassword:active
{
    background-color: rgb(36, 122, 122) !important;
    border-color: rgb(36, 122, 122) !important;
    border: 1px solid transparent !important;
    box-shadow: 0 0 10px rgb(21, 23, 23)!important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}